html{
  background-color: #c9b5ab;
  font-family: "PT serif", serif;
  font-weight: normal;
}
/** NEED TO ITALIC "BETA VULGARIS"**/
h1{
  font-family: "PT Sans";
  font-size: 1.5rem;
  color: #3f1622;
}

a:hover{
  color: #3f1622;
  text-decoration: underline;
  font-weight: bold;
}

img {
  width:100%;
}

.days {
  font-weight: bold;
  font-size; 1.5rem;
}

nav a {
  font-family: PT Sans;
  font-size: 1.125rem;
  color: #8f2440;
  text-decoration: none;
}

figure figcaption{
 font-style: italic;
 font-size: 0.8rem;
 text-align: center;

}
/** Trageting -- 55 to 65 days are needed from germanation to harvet of the root.**/
main p:nth-child(1) {
 font-weight: bold;
 font-size:1.5rem;
}

  h2{
    font-family: PT Sans;
  }

  ol li {
    list-style-type: lower-greek;
  }

dl dt:nth-child(1) {
    font-style: italic;
  }
















/*
footer {
  font-size: 1.5rem;
}

nav ul {
  font-family: sans-serif;
}

.logo {
  text-transform: uppercase;
}

.wrapper {
  background-color: #eee8d5;
}

h2 {
  color: #93a1a1;
}

.wrapper > .dfn {
  background-color: #b58900;
}

.dfn p + strong {
  color: #fff;
}

a:not(.no-highlight) {
  background-color: #719e07;
}

[rel="external"] {
  background-color: #2694d8;
}

ol li:nth-child(1) {
  color: #719e47;
}

ol li:nth-child(3) {
  color: #2aa198;
}

.types li:nth-child(odd) {
  background-color: #657ba3;
}

.types li:nth-child(even) {
  background-color: #586e75;
}

.types li:nth-child(3n) {
  background-color: #d04b16;
}/*
