html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  font-weight: normal;
  line-height: 1.5;
}

h1 {
  font-family: "PT Sans";
  font-size: 1.5rem;
  color: #3f1622;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
  font-weight: bold;
}

img {
  width: 100%;
}

.days {
  font-weight: bold;
  font-size: 1.125rem;
}

b {
  font-weight: bold;
}

blockquote {
  margin-left: 2rem;
  font-size: 1.5rem;
  font-style: italic;
}

cite {
  font-size: 1rem;
  font-style: italic;
  font-weight: lighter;
  line-height: 1.5rem;
}

nav ol {
  list-style-type: none;
}

nav a {
  font-family: "PT Sans";
  font-size: 1.125rem;
  color: #8f2440;
  text-decoration: none;
  list-style: none;
}

a {
  color: #8f2440;
  text-decoration: none;
  list-style: none;
}

figure figcaption {
  font-style: italic;
  font-size: .8rem;
  text-align: center;
}

main p:nth-child(1) {
  font-weight: bold;
  font-size: 1.5rem;
}

h2 {
  font-family: "PT Sans";
}

dt {
  font-weight: bold;
}

dl dt:nth-child(1) {
  font-style: italic;
}

ul li {
  list-style-type: circle;
}

.common {
  list-style-type: lower-greek;
}
